body {
    background: #271e3f;
    background: -moz-linear-gradient(-45deg, #271e3f 0%, #2c3277 52%, #1d005e 52%, #36174f 100%);
    background: -webkit-linear-gradient(-45deg, #271e3f 0%,#2c3277 52%,#1d005e 52%,#36174f 100%);
    background: linear-gradient(135deg, #271e3f 0%,#2c3277 52%,#1d005e 52%,#36174f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#271e3f', endColorstr='#36174f',GradientType=1 );
    background-attachment: fixed;
}

@media (max-width: 1126px) {
    /* isMobile, but for !importants */
    .ui.grid.container {
        margin-left:  0px !important;
        margin-right: 0px !important;
    }
}